<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<link rel="stylesheet" th:href="@{/main.css}" />
</head>
<body>

	<div id="parallax-world-of-ugg">

		<section>
			<div class="title">
				<h3>Hablemos de...</h3>
				<h1>FASTYLE</h1>
			</div>
		</section>

		<section>
			<div class="parallax-one">
				<h2>INFORMACIÓN 1</h2>
			</div>
		</section>

		<section>
			<div class="block">
				<p>
					<span class="first-character sc">I</span>Lorem ipsum dolor sit
					amet, consectetur adipiscing elit. Fusce sit amet est sed nibh
					faucibus facilisis. Nulla in ligula quis sem imperdiet ultrices. Ut
					lacinia tincidunt purus. Suspendisse posuere justo arcu, non
					fringilla odio pellentesque commodo. Suspendisse at porta ex, in
					finibus turpis. Mauris ac feugiat urna. Ut consectetur mauris sit
					amet dui luctus, convallis tincidunt tortor egestas. Suspendisse
					vitae sollicitudin sapien. Nam euismod ornare elit id eleifend.
				</p>
				<p class="line-break margin-top-10"></p>
				<p class="margin-top-10">Fusce hendrerit ornare velit, non
					dictum arcu interdum id. Fusce euismod libero quis est dictum
					pellentesque. Curabitur quis diam in purus ullamcorper cursus non
					in lacus. Etiam faucibus elementum tempor. Donec volutpat lobortis
					erat ac luctus. Vivamus urna tortor, lacinia vel semper sit amet,
					accumsan sit amet est. Integer egestas ante at dolor maximus
					faucibus. Morbi ut est eget eros interdum convallis. Nulla sed
					maximus augue. Phasellus vel elit non dui sollicitudin suscipit non
					sed lacus. Nam maximus convallis hendrerit. Donec aliquam ligula
					dui, nec faucibus quam tempus eu. Donec purus mauris, tempor nec
					dictum sit amet, interdum eu nulla. Vivamus consectetur venenatis
					leo tincidunt tristique. Sed id blandit erat. In eros orci,
					ultricies sed tempor id, aliquet venenatis metus.</p>
			</div>
		</section>

		<section>
			<div class="parallax-two">
				<h2>INFORMACIÓN 2</h2>
			</div>
		</section>

		<section>
			<div class="block">
				<p>
					<span class="first-character ny">B</span>Phasellus facilisis
					egestas tristique. Proin eu imperdiet quam. Fusce id efficitur
					turpis. Praesent efficitur luctus nisi eu rhoncus. Etiam vel
					scelerisque dui, sed venenatis sapien. Nulla lacinia nisl ac nibh
					tincidunt, ut aliquet arcu pellentesque. Aliquam sed odio euismod,
					ultricies lectus nec, lobortis arcu. Aliquam vitae laoreet orci. Ut
					sit amet orci fermentum, iaculis metus ac, pretium dolor. Sed
					suscipit magna eros, id pharetra purus luctus eget.
				</p>
				<p class="line-break margin-top-10"></p>
				<p class="margin-top-10">Morbi eleifend porta ex, vel porttitor
					enim. Mauris tellus libero, pulvinar nec tempor ac, bibendum ut
					lacus. Nulla eu eros ut urna cursus volutpat. Phasellus nec est
					commodo, ultricies lacus sodales, dapibus turpis. Donec in rhoncus
					ligula. Etiam pharetra, purus vitae aliquam dapibus, lectus velit
					venenatis elit, vel porttitor ex est in felis. Integer pharetra
					quam eu nisl auctor tristique. Ut rhoncus nibh vitae ligula
					faucibus, sed hendrerit lectus tincidunt. Sed ac vehicula nunc.
					Suspendisse nisi urna, congue ut nulla quis, elementum tempus
					purus. Curabitur placerat et velit id varius. Phasellus laoreet
					feugiat accumsan. Duis sit amet diam et justo auctor rutrum.
					Praesent non massa mi. Duis vel lobortis lorem, at egestas nibh.
					Proin sit amet purus dictum diam gravida pharetra.</p>
			</div>
		</section>

		<section>
			<div class="parallax-three">
				<h2>INFORMACIÓN 3</h2>
			</div>
		</section>

		<section>
			<div class="block">
				<p>
					<span class="first-character atw">W</span>Aliquam porta, felis et
					laoreet placerat, diam augue ultricies ante, sit amet vehicula erat
					libero eget augue. Quisque interdum dui justo, et interdum est
					vehicula non. Sed nec mattis enim. In interdum dignissim nibh at
					pulvinar. Mauris lobortis fringilla lorem, eu maximus mi lobortis
					quis. Fusce ut semper libero, feugiat varius odio. Nam quam sem,
					egestas quis dui et, fermentum malesuada arcu. Fusce semper
					facilisis accumsan. Aenean odio risus, egestas efficitur ligula
					non, placerat euismod ante. Donec posuere cursus metus. Nam
					sollicitudin lacus eget placerat faucibus. Mauris eu placerat
					tellus. Integer augue nisl, volutpat a diam et, facilisis tincidunt
					ex. Etiam nibh nulla, eleifend sed augue sed, vehicula suscipit
					nulla. Quisque in sapien facilisis, hendrerit sem sit amet, porta
					eros.
				</p>
				<p class="line-break margin-top-10"></p>
				<p class="margin-top-10">Nunc sagittis urna vel tellus pulvinar,
					sit amet posuere dolor auctor. Vivamus sed fermentum risus. Integer
					posuere tristique est id varius. Cras non aliquam dolor, et
					fermentum orci. Curabitur porta dolor quis nibh efficitur auctor
					nec eu dui. Integer a fringilla sapien. Aliquam posuere eleifend
					finibus. Aenean volutpat tincidunt convallis. Nam porta vestibulum
					mauris, et tempor mi laoreet in. Vivamus justo libero, gravida
					vestibulum felis quis, eleifend ornare turpis. Suspendisse potenti.
					Ut urna ante, feugiat in euismod vel, luctus sit amet lorem. Nam
					dapibus maximus lorem, nec venenatis nisl luctus quis. Sed mollis,
					elit eget luctus interdum, lorem leo faucibus ipsum, consequat
					elementum urna risus in eros. Class aptent taciti sociosqu ad
					litora torquent per conubia nostra, per inceptos himenaeos. Sed ac
					dolor pretium, pulvinar elit sed, maximus nibh.</p>
			</div>
		</section>

	</div>

</body>
</html>