

<div th:fragment="footer">



	<nav class="navbar navbar-expand-md navbar-dark bg-dark footer-fastyle">
		<div align="center" class="cookie-container">
			<p class="col-lg-8 text-cookie">Este sitio web utiliza cookies
				para garantizar que obtenga la mejor experiencia en nuestro sitio
				web. Al utilizar nuestro sitio usted acepta cookies. Consulte aqu&iacute nuestras <a target="_blank" href="/politicaPrivacidad">Pol&iacuteticas de Privacidad</a>
				y de <a target="_blank" href="politicaCookies">Cookies</a>.</p>
			<button class="cookie-accept">Aceptar</button>
		</div>



	<!-- 	<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Indicates a successful or positive action.
</div>

 -->




    
	

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

		
		
		
		<div class="col-lg-6 mx-auto" style="width: 200px;">
			<p class="m-0 text-center text-white" style="text-align: center;">&copy
				Fastyle - 2020</p>
		</div>
		
		<div class="col-lg-6 mx-auto">

     
       

        <div class="row links-footer">
          
            
          
            <a href="/politicaPrivacidad">Pol&iacutetica de Privacidad</a>
          
            <a href="politicaCookies">Pol&iacutetica de Cookies</a>
            
        
</div>
      </div>

		
	</nav>
	
	  <!--
	<div data-auto-dismiss="3000" th:if="${citasVacio== true}" class="alert alert-danger alert-dismissible fade show">
	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          No hay citas disponibles.
    </div>
	
	<div data-auto-dismiss="3000" th:if="${== true}" class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         Ha salido de sesi&oacuten con &eacutexito.
    </div>
    -->
	
	
	<div data-auto-dismiss="3000"  th:if="${registro== true}" class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         Operaci&oacuten realizada con &eacutexito.
    </div>
    
    
    
  <div data-auto-dismiss="3000"  th:if="${correcto== true}" class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         Operaci&oacuten realizada con &eacutexito.
    </div>
    
    
    
	
	<div data-auto-dismiss="3000" th:if="${loginCorrecto== true}" class="alert alert-success alert-dismissible">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
         Operaci&oacuten realizada con &eacutexito.
    </div>
    
	<div data-auto-dismiss="3000" th:if="${loginError== true }" class="alert alert-danger alert-dismissible fade show">
	 <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          Los campos no han sido correctamente introducidos.
    </div>
	
	
	
	
	
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script>
		window.jQuery
				|| document
						.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')
	</script>
	<script src="../../assets/js/vendor/popper.min.js"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/cookies.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-auto-dismiss-alert.js}"></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
	<script type="text/javascript" th:src="@{/jquery/jquery.min.js}"></script>
</div>




