<head th:fragment="header">

<title>Aplicación Fastyle</title>
<meta charset="UTF-8">
<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
<style>
html {
        height:100%;
        width:100%;
    }
body  {
  background-image: url("https://download.hipwallpaper.com/desktop/1600/900/75/22/MDEyb4.jpg");
  background-size:100% 100%;
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 100px; //height of the footer
}
</style>
</head>
