<head th:fragment="header">

<title>Aplicación Fastyle</title>
<meta charset="UTF-8">
<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<script src="@{/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/toast.js}"></script>
<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css/shop-homepage.css}" />
<link rel="stylesheet" th:href="@{/main.css}" />

<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
<style>
html {
	height: 120%;
	width: 100%;
}


body {
	background-color: white;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 100vh;
	position: relative;
	margin: 0;
	padding-bottom: 100px;
}
</style>
</head>

<div class="cookie-container">
	<p>
	Este sitio web utiliza cookies para
		garantizar que obtenga la mejor experiencia en nuestro sitio web. Al
		utilizar nuestro sitio usted acepta cookies. Aprende más
		</p>
		
		<button class="cookie-btn">Aceptar</button>
		</div>
