<nav th:fragment="navbar"
	class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
	<a class="navbar-brand" href="/">Fastyle</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarsExampleDefault"
		aria-controls="navbarsExampleDefault" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarsExampleDefault">
		<ul class="navbar-nav mr-auto">
			<!--           <li class="nav-item active"> -->
			<!--             <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
			<!--           </li> -->
			<!--           <li class="nav-item dropdown"> -->
			<!--             <a class="nav-link dropdown-toggle" href="listadoServicios" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Servicios</a> -->
			<!--             <div class="dropdown-menu" aria-labelledby="dropdown01"> -->
			<!--               <a class="dropdown-item" href="listadoServicios">Todos los servicios</a> -->
			<!--               <a class="dropdown-item" href="#">Barber&iacutea</a> -->
			<!--               <a class="dropdown-item" href="#">Todos</a> -->
			<!--             </div> -->
			<!--           </li> -->

			<li class="nav-item"><a class="nav-link" th:href="@{/listadoServicios}">Servicios</a></li>

			<li class="nav-item"><a class="nav-link" href="misCitas">Mis
					citas</a></li>


		</ul>

		<ul class="nav navbar-nav navbar-right mr-3">
			<li class="dropdown"><a href="#" class="nav-link"
				data-toggle="dropdown"><b>Autentificar</b> <span class="caret"></span></a>
				<ul id="login-dp" class="dropdown-menu">
					<li>
						<div class="row">
							<div class="col-md-12">
								<form class="form" role="form" method="post" action="login"
									accept-charset="UTF-8" id="login-nav">
									<div class="form-group">
										<label class="sr-only" for="exampleInputEmail2">Nombre
											de usuario</label> <input type="email" class="form-control"
											id="exampleInputEmail2" placeholder="Email address" required>
									</div>
									<div class="form-group">
										<label class="sr-only" for="exampleInputPassword2">Contraseña</label>
										<input type="password" class="form-control"
											id="exampleInputPassword2" placeholder="Password" required>
									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-primary btn-block">Entrar</button>
									</div>
								</form>
							</div>
							<div class="bottom text-center">
								No tienes cuenta? <a href="#"><b>Registrate aqu&iacute</b></a>
							</div>
						</div>
					</li>
				</ul></li>
		</ul>

		<form class="form-inline">
			<input class="form-control mr-sm-2" type="text" placeholder="Search"
				aria-label="Search">
			<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
		</form>



	</div>
</nav>