<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<title>Aplicación Fastyle</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<head th:insert="fragments/header :: header">
<title>Ayuda | Fastyle</title>
</head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	</br>
	</br>
	</br>

	<div align="center" class="ayuda-container">
		<h1>Ayuda</h1>
		</br> 
		</br>
		</br>
		
		<h4>Información general</h4>
		<div>
			<p class="panel-title text-bold">
				<a data-toggle="collapse" data-parent="#acor-servicios"
					href="#col-ser1" class="collapsed" aria-expanded="false">Sistema de puntos</a>
			</p>
		</div>
		<div id="col-ser1" class="panel-collapse collapse" style="">
			<div class="panel-body">
				<p>El sistema de puntos consiste en la ganancia de puntos a partir de los servicios consumidos en la web.
					Por cada servicio consumido en la web, se añadirá a los puntos un porcentaje del coste del servicio.
					Estos puntos podrán ser utilizados para comprar un servicio o rebajar su coste.</p>
			</div>
		</div>

		<div>
			<p class="panel-title text-bold">
				<a data-toggle="collapse" data-parent="#acor-servicios"
					href="#col-ser2" class="collapsed" aria-expanded="false">Eliminación de cuenta</a>
			</p>
		</div>
		<div id="col-ser2" class="panel-collapse collapse" style="">
			<div class="panel-body">
				<p>En el caso de que se desee eliminar la cuenta, se podrá hacer entrando en el apartado "Mi perfil"
					 y ahí se habilitará un botón para eliminar cuenta.</p>
			</div>
		</div>
		
		<div>
			<p class="panel-title text-bold">
				<a data-toggle="collapse" data-parent="#acor-servicios"
					href="#col-ser3" class="collapsed" aria-expanded="false">Solicitud de datos</a>
			</p>
		</div>
		<div id="col-ser3" class="panel-collapse collapse" style="">
			<div class="panel-body">
				<p>Para la solicitud de cualquier tipo de datos que no aparezcan en la web, puede contactar con
					nosotros en el enlace al correo especificado abajo.</p>
			</div>
		</div>
		
		<div>
			<p class="panel-title text-bold">
				<a data-toggle="collapse" data-parent="#acor-servicios"
					href="#col-ser4" class="collapsed" aria-expanded="false">Seguridad</a>
			</p>
		</div>
		<div id="col-ser4" class="panel-collapse collapse" style="">
			<div class="panel-body">
				<p>Si se detecta alguna brecha de seguridad en el sistema que pueda afectar a la información 
					privada de nuestros usuarios, se le enviará un correo a todos los emails de los usuarios 
					especificando los detalles del error y posibles soluciones para que no se vea afectada 
					su información personal.</p>
			</div>
		</div>

		</br>
		
		<h4>Servicios</h4>
		<div>
			<p class="panel-title text-bold">
				<a data-toggle="collapse" data-parent="#acor-servicios"
					href="#col-ser5" class="collapsed" aria-expanded="false">No veo
					los servicios filtrados por mi provincia</a>
			</p>
		</div>
		<div id="col-ser5" class="panel-collapse collapse" style="">
			<div class="panel-body">
				<p>Para ver los servicios filtrados por tu provincia, debes
					autenticarte primero.</p>
			</div>
		</div>

		<div>
			<p class="panel-title text-bold">
				<a data-toggle="collapse" data-parent="#acor-servicios"
					href="#col-ser6" class="collapsed" aria-expanded="false">No veo
					los servicios filtrados por el tipo de servicio</a>
			</p>
		</div>
		<div id="col-ser6" class="panel-collapse collapse" style="">
			<div class="panel-body">
				<p>Para ver los servicios filtrados por un tipo de servicio,
					debes autenticarte primero.</p>
			</div>
		</div>


		</br>
		<h4>Reservas</h4>



		<div>
			<p class="panel-title text-bold">
				<a data-toggle="collapse" data-parent="#acor-servicios"
					href="#col-ser7" class="collapsed" aria-expanded="false">¿Cuándo
					puedo saber que mi cita está reservada?</a>
			</p>
		</div>
		<div id="col-ser7" class="panel-collapse collapse" style="">
			<div class="panel-body">
				<p>A la hora de reservar una cita no basta con pedirla, tiene
					que esperar a que el profesional se la acepte y, una vez aceptada,
					se procederá a realizar el pago. Una vez realizado el pago, se
					considerará que la cita está reservada.</p>
			</div>
		</div>


		</br>

		<div class="col-12 col-md-3 text-center mt-3 mb-4">
			<h5 style="letter-spacing: 0em !important;">Para cualquier otra
				duda, puede contactarnos por email</h5>
			<h6 style="font-size: 1em;">
				<a href="mailto:fastyle.info@gmail.com">fastyle.info@gmail.com</a>
			</h6>
		</div>
	</div>





</body>

<div th:replace="fragments/footer :: footer"></div>
</html>