<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<title>Solicitar cita | Fastyle</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<head th:insert="fragments/header :: header"></head>

<script>
	$(function() {
		$('.datepicker').datepicker({
			format : 'mm-dd-yyyy',
			endDate : '+0d',
			autoclose : true
		});
	});
</script>

<body>

	<div th:replace="fragments/navbar :: navbar"></div>
	<!-- 
	<div class="row justify-content-md-center" style="margin-top: 50px">
		<form class="col-lg-6" style="background-color: white" method="post"
			th:action="@{/nuevaCita}" th:object="${cita}">
			<p style="font-size: x-large" align="center">Solicitar una cita
				para: Servicio de peluquería</p>

			<div class="alert alert-danger" role="alert" th:if="${fallo} == true">No
				se puede intruducir una fecha o hora en pasado</div>
			<div class="form-group row">
				<label for="example-date-input" class="col-2 col-form-label">Fecha*</label>
				<div class="col-lg-7">
					<input class="form-control" type="date" th:field="*{fecha}"
						value="2011-08-19" id="example-date-input" required>
				</div>
			</div>

			<div class="form-group row">
				<label for="example-time-input" class="col-2 col-form-label">Hora*</label>
				<div class="col-lg-7">
					<input class="form-control" type="time" th:field="*{hora}"
						value="13:45:00" id="example-time-input" required>
				</div>
			</div>

			<div class="form-group row">
				<label for="exampleFormControlTextarea1" class="col-2 col-form-label">Comentario</label>
				<div class="col-lg-7">
				<textarea class="form-control" th:field="*{detalle}"
					id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
			</div>

			<div class="form-group row">
				<div class="col-lg-12 text-center">
					<button type="submit" class="btn btn-primary">Solicitar</button>
					<a type="button" class="btn btn-secondary" th:href="@{/}">Cancelar</a>
				</div>
			</div>
			<hr>

		</form>
	</div>
 -->
	</br>
	</br>
	</br>
	<div class="container">
		<div class="mx-auto col-sm-8 main-section">
			<div class="card">
				<div class="card-header">
					<h4 align="center">Registro de cita</h4>
				</div>
				<div class="card-body">


					<form style="background-color: white" method="post"
						th:action="@{/nuevaCita}" th:object="${cita}">

						<div data-auto-dismiss="2000" style="z-index:300;" class="alert alert-danger" role="alert"
							th:if="${fallo} == true">
							<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
							No se puede intruducir una fecha u
							hora en pasado</div>

						<div class="form-group row">
							<label for="example-date-input"
								class="col-lg-3 col-form-label form-control-label">Fecha*</label>
							<div class="col-lg-7">
								<input class="form-control" type="date" th:field="*{fecha}"
									value="2011-08-19" id="example-date-input" required>
							</div>
						</div>

						<div class="form-group row">
							<label for="example-time-input"
								class="col-lg-3 col-form-label form-control-label">Hora*</label>
							<div class="col-lg-7">
								<input class="form-control" type="time" th:field="*{hora}"
									value="13:45:00" id="example-time-input" required>
							</div>
						</div>

						<div class="form-group row">
							<label for="exampleFormControlTextarea1"
								class="col-lg-3 col-form-label form-control-label">Comentario</label>
							<div class="col-lg-7">
								<textarea class="form-control" th:field="*{detalle}"
									id="exampleFormControlTextarea1" rows="3"></textarea>
							</div>
						</div>

						<div class="form-group row">
				<div class="col-lg-12 text-center">
					<button type="submit" class="btn btn-outline-primary btn-sm">Solicitar</button>
					<button type="button" class="btn btn-outline-dark btn-sm" onclick='javascript:window.history.back()'>Cancelar</button>
				</div>
			</div>
						

					</form>
				</div>





			</div>
		</div>
	</div>







	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>