<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<title>Starter Template for Bootstrap</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<head th:insert="fragments/header :: header"></head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>


	<div class="row justify-content-md-center" style="margin-top: 50px">
		<form class="col-lg-6" style="background-color: #C0C0C0" method="post" th:action="@{/pay}" th:object="${cita}">
		<p style="font-size: x-large">Solicitar una cita para: Servicio de peluquería</p>
			<div class="form-group row">
				<label for="example-date-input" class="col-2 col-form-label">Fecha*</label>
				<div class="col-10">
					<input class="form-control" type="date" th:field="*{fecha}" value="2011-08-19"
						id="example-date-input" required>
				</div>
			</div>

			<div class="form-group row">
				<label for="example-time-input" class="col-2 col-form-label">Hora*</label>
				<div class="col-10">
					<input class="form-control" type="time" th:field="*{hora}" value="13:45:00"
						id="example-time-input" required>
				</div>
			</div>

			<div class="form-group">
				<label for="exampleFormControlTextarea1">Comentario</label>
				<textarea class="form-control" th:field="*{detalle}" id="exampleFormControlTextarea1"
					rows="3"></textarea>
			</div>

			<button type="submit" class="btn btn-primary">Solicitar</button>
			<hr>

		</form>
	</div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>