<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<title>Fastyle</title>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<head th:insert="fragments/header :: header"></head>

<body id="paginaError">
	<div th:replace="fragments/navbar :: navbar"></div>
<hr>

	<div class="error  alert alert-warning container-fluid" style=" width:60%; display: flex;justify-content: center; align-items: center;" role="alert">
	<div style="margin-right: 10px;" id="cuerpoError">Algo inesperado ha ocurrido. Ha intentado acceder
	 a una p&aacutegina que no existe o para la que no tiene permisos.</div>
	 <input type="button"  class="btn btn-outline-primary btn-sm" onclick="history.back()" name="volver atras" value="volver atr&aacute;s">
	 </div>

	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>