<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/all.css}" />



<script type="text/javascript" src="https://unpkg.com/@popperjs/core@2"></script>

<script th:src="/ja/bootstrap-auto-dismiss-alert.js"></script>



</head>
<head th:insert="fragments/header :: header"></head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>

<!--  	<div th:replace="fragments/footer :: footer"></div>   -->




</body>
</html>