<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>


<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<head th:insert="fragments/header :: header"></head>

<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 d-flex justify-content-center">
				<div class="w-75 mt-5">

					<br /> <br />


					<h3 class="card-title" align="center">Mis citas</h3>
					<table th:if="${not #lists.isEmpty(citas)}"
						class="table table-striped align-middle" style="margin-top: 50px">
						<thead>
							<tr>
								<th scope="col"></th>
								<th scope="col">Fecha</th>
								<th scope="col">Hora</th>
								<th sec:authorize="hasRole('CLIENTE')" scope="col">Esteticista</th>
								<th sec:authorize="hasRole('ESTETICISTA')" scope="col">Cliente</th>
								<th scope="col">Estado</th>
								<th scope="col">Información y pago</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cita : ${citas}">

								<th scope="row" th:text="${citaStat.index +1 }"></th>
								<td th:text="${cita.fecha}"></td>
								<td th:text="${cita.hora}"></td>

								<td th:if="${cita.esteticista != null}"
									sec:authorize="hasRole('CLIENTE')"
									th:text="${cita.esteticista.usuario.name}"></td>

								<td th:unless="${cita.esteticista != null}"
									sec:authorize="hasRole('CLIENTE')">El esteticista ha
									eliminado su cuenta</td>

								<td th:if="${cita.cliente != null}"
									sec:authorize="hasRole('ESTETICISTA')"
									th:text="${cita.cliente.usuario.name}"></td>

								<td th:unless="${cita.cliente != null}"
									sec:authorize="hasRole('ESTETICISTA')">El
									cliente ha eliminado su cuenta</td>

								<td th:text="${cita.estado}"></td>
								<td th:if="${cita.cliente != null and cita.esteticista != null and cita.servicioEstetico != null}"><a
									th:href="@{/verCita/{idCita}(idCita=${cita.id})}"
									class="btn btn-outline-success ">Ver Detalles</a></td>
								<td
									th:unless="${cita.cliente != null and cita.esteticista != null  and cita.servicioEstetico != null}">Cita
									cancelada</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
<div th:replace="fragments/footer :: footer"></div>
</body>

<!--  <div th:replace="fragments/footer :: footer"></div> -->
</html>