<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header :: header"></head>
<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	<br />
	<br />
	<div class="container">
		<div class="mx-auto col-sm-8 main-section">
			<div class="card">
				<div class="card-header">
					<h4 align="center">Perfil de esteticista</h4>
				</div>

				<div class="container">
					<div id="carouselExampleIndicators" class="carousel slide my-4"
						data-ride="carousel">
						<ol class="carousel-indicators">
							<li data-target="#carouselExampleIndicators" data-slide-to="0"
								class="active"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
							<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
						</ol>
						<div class="carousel-inner" role="listbox">
							<div class="carousel-item active">
								<img class="d-block img-fluid"
									src="https://static3.abc.es/media/summum/2019/12/07/Yolanda-Aberasturi-TUPe-FLEXIBLE-WEB--kfhG--660x372@abc.jpg"
									alt="First slide">
							</div>
							<div class="carousel-item">
								<img class="d-block img-fluid"
									src="https://static2.abc.es/media/summum/2019/12/07/Yolanda-Aberasturi-cortepelo-kfhG--660x372@abc.jpg"
									alt="Second slide">
							</div>
							<div class="carousel-item">
								<img class="d-block img-fluid"
									src="https://static2.abc.es/media/summum/2019/12/07/LLONGUERA-ESTILO-KITE--kfhG--620x349@abc.jpg"
									alt="Third slide">
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleIndicators"
							role="button" data-slide="prev"> <span
							class="carousel-control-prev-icon" aria-hidden="true"></span> <span
							class="sr-only">Previous</span>
						</a> <a class="carousel-control-next"
							href="#carouselExampleIndicators" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="sr-only">Next</span>
						</a>
					</div>
				</div>

				<div class="card-body">

					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Nombre</label>
						<div class="col-lg-7">
							<input class="form-control" type="text"
								th:field="${esteticista.usuario.name}"
								th:disabled="${disableFields}" readonly>


						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Primer
							apellido</label>
						<div class="col-lg-7">
							<input class="form-control" type="text"
								th:field="${esteticista.usuario.apellido1}"
								th:disabled="${disableFields}" readonly>


						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Segundo
							apellido</label>
						<div class="col-lg-7">
							<input class="form-control" type="text"
								th:field="${esteticista.usuario.apellido2}"
								th:disabled="${disableFields}" readonly>


						</div>
					</div>


					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Provincia</label>
						<div class="col-lg-7">
							<input class="form-control" type="text"
								th:field="${esteticista.usuario.provincia}"
								th:disabled="${disableFields}" readonly>


						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Ciudad</label>
						<div class="col-lg-7">
							<input class="form-control" type="text"
								th:field="${esteticista.usuario.ciudad}"
								th:disabled="${disableFields}" readonly>


						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Email</label>
						<div class="col-lg-7">
							<input class="form-control" type="email"
								th:field="${esteticista.usuario.eMail}"
								th:disabled="${disableFields}" readonly>

						</div>
					</div>

					<div class="form-group">
						<label for="exampleFormControlTextarea1">Descripci&oacute;n</label>
						<div class="col-lg-9">
							<textarea class="form-control"
								th:field="${esteticista.descripcion}" rows="3"
								th:disabled="${disableFields}" readonly></textarea>
						</div>
					</div>

					<a th:href="@{/edit}" role="button"
						class="btn btn-outline-primary btn-sm">Editar perfil</a> <a
						th:href="@{/eliminar}" role="button"
						class="btn btn-outline-danger btn-sm">Eliminar cuenta</a>

				</div>
			</div>
		</div>
	</div>
  <div th:replace="fragments/footer :: footer"></div> 
</body>
</html>
