<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

<!-- Bootstrap core CSS -->
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
<!-- Custom styles for this template -->
<link href="starter-template.css" rel="stylesheet">
</head>
<head th:insert="fragments/header :: header"></head>
<body>
	<div th:replace="fragments/navbar :: navbar"></div>
	<br />
	<br />
	<div class="container">
		<div class="mx-auto col-sm-8 main-section">
			<div class="card">
				<div class="card-header">
					<h4 align="center">Perfil de cliente</h4>
				</div>
				<div class="card-body">

					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Nombre</label>
						<div class="col-lg-7">
							<input class="form-control" type="text"
								th:field="${cliente.usuario.name}"
								th:disabled="${disableFields}" readonly>


						</div>
					</div>
					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Primer
							apellido</label>
						<div class="col-lg-7">
							<input class="form-control" type="text"
								th:field="${cliente.usuario.apellido1}"
								th:disabled="${disableFields}" readonly>


						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Segundo
							apellido</label>
						<div class="col-lg-7">
							<input class="form-control" type="text"
								th:field="${cliente.usuario.apellido2}"
								th:disabled="${disableFields}" readonly>


						</div>
					</div>


					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Provincia</label>
						<div class="col-lg-7">
							<input class="form-control" type="text"
								th:field="${cliente.usuario.provincia}"
								th:disabled="${disableFields}" readonly>


						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Ciudad</label>
						<div class="col-lg-7">
							<input class="form-control" type="text"
								th:field="${cliente.usuario.ciudad}"
								th:disabled="${disableFields}" readonly>


						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Dirección</label>
						<div class="col-lg-7">
							<input class="form-control" type="text"
								th:field="${cliente.usuario.direccion}"
								th:disabled="${disableFields}" readonly>


						</div>
					</div>



					<div class="form-group row">
						<div class="input-group">
							<label class="col-lg-3 col-form-label form-control-label">Edad</label>

							<div class="col-lg-7">
								<input class="form-control number" type="number" min="18"
									th:field="${cliente.usuario.edad}" readonly>
							</div>

						</div>
					</div>




					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Rol</label>
						<div class="col-lg-7">
							<input class="form-control" type="text" placeholder="CLIENTE"
								readonly>


						</div>
					</div>

					<div class="form-group row">
						<label class="col-lg-3 col-form-label form-control-label">Email</label>
						<div class="col-lg-7">
							<input class="form-control" type="email"
								th:field="${cliente.usuario.eMail}"
								th:disabled="${disableFields}" readonly>

						</div>
					</div>









					<div class="form-group row">
						<div class="col-lg-12 text-center">
							<a th:href="@{/edit}" role="button"
								class="btn btn-outline-primary btn-sm">Editar perfil</a>
							<button type="button" class="btn btn-outline-danger btn-sm"
								data-toggle="modal" data-target="#exampleModal">Eliminar
								cuenta</button>

						</div>
					</div>






					<!-- Modal -->
					<div class="modal fade" id="exampleModal" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="exampleModalLabel">Confirmar
										la eliminación de la cuenta</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">¿Est&aacute seguro que desea
									eliminar todos los datos asociados a su cuenta?</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-outline-secondary btn-sm"
										data-dismiss="modal">Cancelar</button>
									<a th:href="@{/eliminar}" role="button"
										class="btn btn-outline-danger btn-sm">Acepto eliminar mi
										cuenta</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer"></div>
</body>



</html>
