
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header :: header">
<meta charset="ISO-8859-1">
<title>Política de Cookies</title>
</head>
<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<!-- Page Content -->
	<div class="container col-lg-6">
		</br> </br> </br>

		<h1 align="center">Política de Cookies</h1>
		</br>

	<p>	En esta web recopilo y utilizo la información según indico en mi política de privacidad. Una
de las formas en las que recopiló información es a través del uso de la tecnología llamada
“cookies”. En FASTYLE se utilizan cookies para varias cosas.</p>
</br>
<h3 align="center">¿Qué es una cookie?</h3>
<p>
Una “cookie” es una pequeña cantidad de texto que se almacena en tu navegador (como
Chrome de Google o Safari de Apple) cuando navegas por la mayoría de los sitios web.</p>
</br>
<h3 align="center">¿Qué NO es una cookie?</h3>
<p>
No es un virus, ni un troyano, ni un gusano, ni spam, ni spyware, ni abre ventanas pop-up.
</p>
</br>
<h3 align="center">
¿Qué información almacena una cookie?</h3>
<p>
Las cookies no suelen almacenar información sensible sobre usted, como tarjetas de
crédito o datos bancarios, fotografías o información personal, etc. Los datos que guardan
son de carácter técnico, estadísticos, preferencias personales, personalización de
contenidos, etc.</p>
<p>
El servidor web no le asocia a usted como persona sino a su navegador web. De hecho, si
usted navega habitualmente con el navegador Chrome y prueba a navegar por la misma
web con el navegador Firefox, verá que la web no se da cuenta que es usted la misma
persona porque en realidad está asociando la información al navegador, no a la persona.
</p>
<ul>
</br>
<h3 align="center">¿Qué tipo de cookies existen?</h3>
<li>Cookies técnicas: Son las más elementales y permiten, entre otras cosas, saber cuándo
está navegando un humano o una aplicación automatizada, cuándo navega un usuario
anónimo y uno registrado, tareas básicas para el funcionamiento de cualquier web
dinámica.</li>
<li>Cookies de análisis: Recogen información sobre el tipo de navegación que está
realizando, las secciones que más utiliza, productos consultados, franja horaria de uso,
idioma, etc.</li>
<li>Cookies publicitarias: Muestran publicidad en función de su navegación, su país de
procedencia, idioma, etc.
</li>
</ul>
</br></br>
<h3 align="center">
¿Qué son las cookies propias y las de terceros?</h3></br>
<p>Las cookies propias son las generadas por la página que está visitando y las de terceros
son las generadas por servicios o proveedores externos. En FASTYLE no tenemos
proveedores externos.</p>
</br></br>
<h3 align="center">
¿Qué cookies utiliza esta web?</h3></br>
<p>
Esta web utiliza cookies propias. En este sitio web se utilizan las siguientes cookies que se
detallan a continuación:</p>
</br></br>
<h3 align="center">
Cookies propias:</h3></br>
<p>
<strong>Inicio de sesión:</strong> Las cookies para iniciar sesión te permiten entrar y salir de tu cuenta de
FASTYLE</p>
<p><b>
Personalización:</b> Las cookies me ayudan a recordar con qué personas o sitios web has
interactuado, para que pueda mostrarte contenido relacionado.</p>
<p>
<b>Seguridad:</b> Utilizo cookies para evitarte riesgos de seguridad. Principalmente para
detectar cuándo alguien está intentando piratear tu cuenta de FASTYLE.</p>
</br></br>
<h3 align="center">
¿Se pueden eliminar las cookies?</h3></br>
<p>
Sí, y no sólo eliminar, también bloquear, de forma general o particular para un dominio
específico.</p>

<p>
Para eliminar las cookies de un sitio web debe ir a la configuración de su navegador y allí
podrá buscar las asociadas al dominio en cuestión y proceder a su eliminación.</p>
</br></br>
<h3 align="center">
Más información sobre las cookies</h3></br>
<p>
Puedes consultar el reglamento sobre cookies publicado por la Agencia Española de
Protección de Datos en su “Guía sobre el uso de las cookies” y obtener más información
sobre las cookies en Internet, http://www.aboutcookies.org/</p>
<p>
Si desea tener un mayor control sobre la instalación de cookies, puede instalar programas
o complementos a su navegador, conocidos como herramientas de “Do Not Track”, que le
permitirán escoger aquellas cookies que desea permitir.</p>
	</div>

</body>

<footer th:replace="fragments/footer :: footer"></footer>

</html>