
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header :: header">
<meta charset="ISO-8859-1">
<title>Pol&iacutetica de Privacidad | Fastyle</title>
</head>
<body>
	<div th:replace="fragments/navbar :: navbar"></div>

	<!-- Page Content -->
	<div class="container col-lg-6">
		</br> </br> </br>

		<h1 align="center">Pol&iacutetica de Privacidad</h1>
		</br>

		<p>Tu privacidad es importante para mí. En esta declaración de privacidad te explico qué
datos personales recopilo de mis usuarios (clientes y esteticistas) y cómo los utilizo. Te
animo a leer detenidamente estos términos antes de facilitar tus datos personales en esta
web. Los mayores de dieciocho años podrán registrarse en FASTYLE como usuarios sin el
previo consentimiento de sus padres o tutores.</p>
<p>
En el caso de los menores de dieciocho años se requiere el consentimiento de los
padres o tutores para el tratamiento de sus datos personales.
En ningún caso se recabarán del menor de edad datos relativos a la situación profesional,
económica o a la intimidad de los otros miembros de la familia, sin el consentimiento de
éstos.</p>

<p>
Si eres menor de dieciocho años y has accedido a este sitio web sin avisar a tus padres no
debes registrarte como usuario.<p>
<p>
En esta web se respetan y cuidan los datos personales de los usuarios. Como usuario
debes saber que tus derechos están garantizados.</p>

<ul>Me he esforzado en crear un espacio seguro y confiable y por eso quiero compartir mis
principios respecto a tu privacidad:

<li>Nunca solicito información personal a menos que realmente sea necesaria para prestarte
los servicios que me requieras.</li>
<li>Nunca comparto información personal de mis usuarios con nadie, excepto para cumplir
con la ley o en caso de que cuente con tu autorización expresa.</li>
<li>Nunca utilizo tus datos personales con una finalidad diferente a la expresada en esta
política de privacidad.</li>
<li>Es preciso advertir que esta Política de Privacidad podría variar en función de exigencias
legislativas o de autorregulación, por lo que se aconseja a los usuarios que la visiten
periódicamente. Será aplicable en caso de que los usuarios decidan rellenar algún
formulario de cualquiera de sus formularios de contacto donde se recaben datos de
carácter personal.</li>
</ul>
<p>
FASTYLE ha adecuado esta web a las exigencias de la Ley Orgánica 15/1999, de 13 de
diciembre, de Protección de Datos de Carácter Personal (LOPD), y al Real Decreto
1720/2007, de 21 de diciembre, conocido como el Reglamento de desarrollo de la LOPD.
Cumple también con el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo
de 27 de abril de 2016 relativo a la protección de las personas físicas (RGPD), así como
con la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de la Información y
Comercio Electrónico (LSSICE o LSSI).</p>

<ul>Responsable del tratamiento de tus datos
personales
<li> Identidad del responsable: IGNACIO SANABRIA ALONSO DE CASO</li>
<li>Nombre comercial: FASTYLE</li>
<li> NIF/CIF: 77843372X</li>
<li>Dirección: C/ CASTILLO DE ALCALÁ DE GUADAIRA N.º 21 BAJO A</li>
<li>Correo electrónico: isadc95@hotmail.com</li>
<li>Actividad: Servicios estéticos a domicilio.</li>
</ul>
<p>
A efectos de lo previsto en el Reglamento General de Protección de Datos antes citado,
los datos personales que me envíes a través de los formularios de la web recibirán el
tratamiento de datos de “Usuarios de la web”.
Para el tratamiento de datos de mis usuarios, implemento todas las medidas técnicas y
organizativas de seguridad establecidas en la legislación vigente.
</p>
	</div>

</body>

<footer th:replace="fragments/footer :: footer"></footer>

</html>