<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header :: header"></head>

<body>

	<!-- Navigation -->
	<div th:replace="fragments/navbar :: navbar"></div>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<div class="col-lg-3" style="background-color: #ECECEC">

				<h1 class="my-4">Nuestros servicios</h1>
				<div class="list-group">
					<a href="listadoServicios" class="list-group-item">Peluquería</a> <a
						href="listadoServicios" class="list-group-item">Tinte</a> <a
						href="listadoServicios" class="list-group-item">Pedicura o
						Manicura</a> <a href="listadoServicios" class="list-group-item">Depilación</a>
					<a href="listadoServicios" class="list-group-item">Todos</a>
				</div>

			</div>
			<!-- /.col-lg-3 -->

			<div class="col-lg-9">

				<div class="card mt-4">
					<img class="card-img-top"
						th:src="${servicioEstetico.imagen}" height="500" width="900" alt="">
					<div class="card-body">
						<h3 class="card-title">
							Servicio de
							<td th:text="${servicioEstetico.tipo}" />
						</h3>
						<h4>
							€
							<td th:text="${servicioEstetico.precio}" />
						</h4>
						<p class="card-text">
							<td th:text="${servicioEstetico.detalle}" />
						</p>
						<span class="text-warning">&#9733; &#9733; &#9733; &#9733;
							&#9734;</span> 4.0 stars
					</div>


					<th:block th:switch="${est}">
						<div class="container" th:case="'existe'">
							<a sec:authorize="hasRole('ESTETICISTA')"
							data-toggle="modal"  data-target="#servicioModal" 	class="btn btn-outline-warning ">Dejar de ser esteticista</a>
						</div>
						<div class="container" th:case="'noExiste'">
							<a sec:authorize="hasRole('ESTETICISTA')"
								th:href="@{/ServicioUnir/{idServ}(idServ=${servicioEstetico.id})}"
								class="btn btn-outline-success ">Unirse como esteticista</a>
						</div>
						<div th:case="'noEs'">
							<!-- print object is new and active -->
						</div>
					</th:block>
					<div class="container">
						<a sec:authorize="hasRole('ADMIN')"
							th:href="@{/ServicioEditar/{idServ}(idServ=${servicioEstetico.id})}"
							class="btn btn-outline-warning ">Editar</a> <a
							sec:authorize="hasRole('ADMIN')"
								data-toggle="modal"  data-target="#servicioBorrarModal"
							
					 
							class="btn btn-outline-danger ">Borrar</a>
					</div>
  

				</div>
				<!-- /.card -->

				<div class="card card-outline-secondary my-4">
					<div class="card-header">Nuestros Esteticistas</div>
					<div th:if="${not #lists.isEmpty(listaEsteticistas)}"
						class="card-body">
						<tr th:each="esteticista: ${listaEsteticistas}">
							<p>
								<td>
								<td th:text="${esteticista.descripcion}" /></td>
							</p>
							<a sec:authorize="hasRole('CLIENTE')"
								th:href="@{/citaCrear/{idServ}/{idEst}(idServ=${servicioEstetico.id}, idEst=${esteticista.id})}"
								class="btn btn-success">Pedir una Cita</a>
							<hr>
						</tr>

					</div>
				</div>
				<!-- /.card -->

			</div>
			<!-- /.col-lg-9 -->

		</div>

	</div>
	<!-- /.container -->
	
	
						<!-- Modal -->
	<div class="modal fade" id="servicioModal" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="servicioModalLabel">Confirmar
										dejar el servicio</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">¿Est&aacute seguro que desea
									dejar de prestar este servicio?</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-outline-secondary btn-sm"
										data-dismiss="modal">Cancelar</button>
									<a th:href="@{/ServicioCancelar/{idServ}(idServ=${servicioEstetico.id})}" role="button"
										class="btn btn-outline-danger btn-sm">Acepto </a>
								</div>
							</div>
						</div>
					</div>
					
					
					
					
					<div class="modal fade" id="servicioBorrarModal" tabindex="-1"
						role="dialog" aria-labelledby="exampleModalLabel"
						aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="servicioModalLabel">Confirmar
										borrar el servicio</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">¿Est&aacute seguro que desea
									borrar el servicio?</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-outline-secondary btn-sm"
										data-dismiss="modal">Cancelar</button>
									<a th:href="@{/ServicioBorrar/{idServ}(idServ=${servicioEstetico.id})}" role="button"
										class="btn btn-outline-danger btn-sm">Acepto </a>
								</div>
							</div>
						</div>
					</div>
					 

	<div th:replace="fragments/footer :: footer"></div>

</body>

</html>
