<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="fragments/header :: header"></head>

<body>

	<!-- Navigation -->
	<div th:replace="fragments/navbar :: navbar"></div>

	<!-- Page Content -->
	<div class="container">

		<div class="row">

			<div class="col-lg-3" style="background-color: #ECECEC">

				<h1 class="my-4">Donde puedes encontrarnos</h1>
				<div class="list-group">
					<a href="listadoServicios" class="list-group-item">Sevilla</a> <a
						href="listadoServicios" class="list-group-item">Huelva</a> <a
						href="listadoServicios" class="list-group-item">Malaga</a> <a
						href="listadoServicios" class="list-group-item">Córdoba</a> <a
						href="listadoServicios" class="list-group-item">Todos</a>
				</div>

				<h1 class="my-4">Nuestros servicios</h1>
				<div class="list-group">
					<a href="listadoServicios" class="list-group-item">Peluquería</a> <a
						href="listadoServicios" class="list-group-item">Tinte</a> <a
						href="listadoServicios" class="list-group-item">pedicura o
						manicura</a> <a href="listadoServicios" class="list-group-item">Depilación</a>
					<a href="listadoServicios" class="list-group-item">Todos</a>
				</div>

			</div>
			<!-- /.col-lg-3 -->

			<div class="col-lg-9">

				<div class="card mt-4">
					<img class="card-img-top img-fluid"
						th:src="${servicioEstetico.imagen}"
						alt="">
					<div class="card-body">
						<h3 class="card-title">Servicio de <td th:text="${servicioEstetico.tipo}"/></h3>
						<h4>€<td th:text="${servicioEstetico.precio}"/></h4>
						<p class="card-text"><td th:text="${servicioEstetico.detalle}"/></p>
						<span class="text-warning">&#9733; &#9733; &#9733; &#9733;
							&#9734;</span> 4.0 stars
					</div>

				</div>
				<!-- /.card -->

				<div class="card card-outline-secondary my-4">
					<div class="card-header">Nuestros Esteticistas</div>
					<div class="card-body">
						<tr th:each="esteticista: ${listaEsteticistas}">
							<p><td><td th:text="${esteticista.descripcion}" /></td></p>
							<a th:href="@{/citaCrear/{idServ}/{idEst}(idServ=${servicioEstetico.id}, idEst=${esteticista.id})}" class="btn btn-success">Pedir una Cita</a>
							<hr>
						</tr>

					</div>
				</div>
				<!-- /.card -->

			</div>
			<!-- /.col-lg-9 -->

		</div>

	</div>
	<!-- /.container -->

	<div th:replace="fragments/footer :: footer"></div>

</body>

</html>
