<div>

	<form class="form" role="form" autocomplete="off"
		th:object="${userForm}"
		th:action="${signup}?@{/signup}:(${editMode} ?@{/editUser} :@{/userForm})"
		method="post">
		<!--Es necesario para poder pasar la validacion del Model-->
		<input class="form-control" type=hidden th:field="${userForm.id}"
			th:if="${editMode}"> <input class="form-control" type=hidden
			name="password" value="xxxx" th:if="${editMode}">
		<!--quita el comentario si quieres mantener la validacion @NotBlank del campo confirmPassword
		 <input class="form-control" type=hidden name="confirmPassword" value="xxxx" th:if="${editMode}">
	 -->

		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Nombre</label>
			<div class="col-lg-7">
				<input class="form-control" type="text" th:field="${userForm.name}"
					th:disabled="${disableFields}">
			</div>
		</div>
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Primer
				apellido</label>
			<div class="col-lg-7">
				<input class="form-control" type="text"
					th:field="${userForm.apellido1}" th:disabled="${disableFields}">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Segundo
				apellido</label>
			<div class="col-lg-7">
				<input class="form-control" type="text"
					th:field="${userForm.apellido2}" th:disabled="${disableFields}">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Ciudad</label>
			<div class="col-lg-7">
				<input class="form-control" type="text"
					th:field="${userForm.ciudad}" th:disabled="${disableFields}">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Provincia</label>
			<div class="col-lg-7">
				<select class="form-control" id="provincia" th:field="${userForm.provincia}">
					<option value="Sevilla">Sevilla</option>
					<option value="Huelva">Huelva</option>
					<option value="Cadiz">C&aacutediz</option>
					<option value="Cordoba">Cordoba</option>
					<option value="Jaen">Ja&eacuten</option>
					<option value="Malaga">M&aacutelaga</option>
					<option value="Almeria">Almer&iacutea</option>
					<option value="Granada">Granada</option>
				</select>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Direcci&oacute;n</label>
			<div class="col-lg-7">
				<input class="form-control" type="text"
					th:field="${userForm.direccion}" th:disabled="${disableFields}">
			</div>
		</div>

		<div class="form-group row">
			<div class="input-group">
				<label class="col-lg-3 col-form-label form-control-label">Edad</label>

			<!-- 	<div class="input-group-prepend" style="padding-left: 15px;">
					<span class="input-group-text" id="basic-addon3">A&ntilde;os</span>
				</div>  -->
				
				<div class="col-lg-7">
				<input class="form-control number" type="number" min="18"
					th:field="${userForm.edad}" required>
					</div>

			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Email</label>
			<div class="col-lg-7">
				<input class="form-control" type="email"
					th:field="${userForm.eMail}" th:disabled="${disableFields}">
			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Usuario</label>
			<div class="col-lg-7">
				<input class="form-control" type="text"
					th:field="${userForm.usuario}" th:disabled="${disableFields}"
					required>
			</div>
		</div>


		<div class="form-group row"
			th:if="${editMode==null or editMode==false}">
			<label class="col-lg-3 col-form-label form-control-label">Contrase&ntilde;a</label>
			<div class="col-lg-7">
				<input class="form-control" type="password"
					th:field="${userForm.password}" th:disabled="${disableFields}"
					required>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Crear cuenta de: </label>
			<div class="col-lg-7">
				<select class="form-control" required
					th:field="${userForm.autority}">
					<option th:value="'ROLE_CLIENTE'" th:text="Cliente"></option>
					<option th:value="'ROLE_ESTETICISTA'" th:text="Esteticista"></option>
				</select>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Descripci&oacute;n</label>
			<div class="col-lg-7">
				<textarea class="form-control" th:field="${userForm.descripcion}"
					rows="3" th:disabled="${disableFields}"></textarea>
			</div>
		</div>

    <div class="form-group row">
			<input type="checkbox" id="check-signup" name="check-signup" required>
<label> He le&iacutedo y acepto la <a target="_blank" href="/politicaPrivacidad">Pol&iacutetica de Privacidad</a></label>
    </div>
    
		<div class="form-group row">
			<div class="col-lg-12 text-center">
				<input type="submit"  class="btn btn-primary" value="Save Changes"
					th:value="${editMode}?'Save User':'Aceptar'">
				<a type="button" class="btn btn-secondary" th:href="@{/}">Cancelar</a>
			</div>
		</div>
		
	

		<div class="alert alert-success text-center d-none" id="formSuccess"
			th:if="${editMode}">Success Message</div>
	</form>
	
	
</div>


